In [23]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
df=pd.read_csv("D:\\DATASCIENCE\Downloads\PRACTISE_PROJECT\\Comcast_telecom_complaints_data.csv")

In [3]:
df.head(10)

,Ticket #,Customer Complaint,Date,Date_month_year,Time,Received Via,City,State,Zip code,Status,Filing on Behalf of Someone
0,250635,Comcast Cable Internet Speeds,22-04-15,22-Apr-15,3:53:50 PM,Customer Care Call,Abingdon,Maryland,21009,Closed,No
1,223441,Payment disappear - service got disconnected,04-08-15,04-Aug-15,10:22:56 AM,Internet,Acworth,Georgia,30102,Closed,No
2,242732,Speed and Service,18-04-15,18-Apr-15,9:55:47 AM,Internet,Acworth,Georgia,30101,Closed,Yes
3,277946,Comcast Imposed a New Usage Cap of 300GB that ...,05-07-15,05-Jul-15,11:59:35 AM,Internet,Acworth,Georgia,30101,Open,Yes
4,307175,Comcast not working and no service to boot,26-05-15,26-May-15,1:25:26 PM,Internet,Acworth,Georgia,30101,Solved,No
5,338519,ISP Charging for arbitrary data limits with ov...,06-12-15,06-Dec-15,9:59:40 PM,Internet,Acworth,Georgia,30101,Solved,No
6,361148,Throttling service and unreasonable data caps,24-06-15,24-Jun-15,10:13:55 AM,Customer Care Call,Acworth,Georgia,30101,Pending,No
7,359792,Comcast refuses to help troubleshoot and corre...,23-06-15,23-Jun-15,6:56:14 PM,Internet,Adrian,Michigan,49221,Solved,No
8,318072,Comcast extended outages,06-01-15,06-Jan-15,11:46:30 PM,Customer Care Call,Alameda,California,94502,Closed,No
9,371214,Comcast Raising Prices and Not Being Available...,28-06-15,28-Jun-15,6:46:31 PM,Customer Care Call,Alameda,California,94501,Open,Yes

In [4]:
#df.isnull().sum()
df.isna().any()

Ticket #                       False
Customer Complaint             False
Date                           False
Date_month_year                False
Time                           False
Received Via                   False
City                           False
State                          False
Zip code                       False
Status                         False
Filing on Behalf of Someone    False
dtype: bool

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2224 entries, 0 to 2223
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Ticket #                     2224 non-null   object
 1   Customer Complaint           2224 non-null   object
 2   Date                         2224 non-null   object
 3   Date_month_year              2224 non-null   object
 4   Time                         2224 non-null   object
 5   Received Via                 2224 non-null   object
 6   City                         2224 non-null   object
 7   State                        2224 non-null   object
 8   Zip code                     2224 non-null   int64
 9   Status                       2224 non-null   object
 10  Filing on Behalf of Someone  2224 non-null   object
dtypes: int64(1), object(10)
memory usage: 191.2+ KB

In [6]:
df.describe()

           Zip code
count   2224.000000
mean   47994.393435
std    28885.279427
min     1075.000000
25%    30056.500000
50%    37211.000000
75%    77058.750000
max    99223.000000

In [7]:
df['Date']=pd.to_datetime(df['Date'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2224 entries, 0 to 2223
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Ticket #                     2224 non-null   object
 1   Customer Complaint           2224 non-null   object
 2   Date                         2224 non-null   datetime64[ns]
 3   Date_month_year              2224 non-null   object
 4   Time                         2224 non-null   object
 5   Received Via                 2224 non-null   object
 6   City                         2224 non-null   object
 7   State                        2224 non-null   object
 8   Zip code                     2224 non-null   int64
 9   Status                       2224 non-null   object
 10  Filing on Behalf of Someone  2224 non-null   object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 191.2+ KB

In [9]:
df['Month']=df['Date'].dt.month_name()

In [10]:
df.head()

,Ticket #,Customer Complaint,Date,Date_month_year,Time,Received Via,City,State,Zip code,Status,Filing on Behalf of Someone,Month
0,250635,Comcast Cable Internet Speeds,2015-04-22,22-Apr-15,3:53:50 PM,Customer Care Call,Abingdon,Maryland,21009,Closed,No,April
1,223441,Payment disappear - service got disconnected,2015-04-08,04-Aug-15,10:22:56 AM,Internet,Acworth,Georgia,30102,Closed,No,April
2,242732,Speed and Service,2015-04-18,18-Apr-15,9:55:47 AM,Internet,Acworth,Georgia,30101,Closed,Yes,April
3,277946,Comcast Imposed a New Usage Cap of 300GB that ...,2015-05-07,05-Jul-15,11:59:35 AM,Internet,Acworth,Georgia,30101,Open,Yes,May
4,307175,Comcast not working and no service to boot,2015-05-26,26-May-15,1:25:26 PM,Internet,Acworth,Georgia,30101,Solved,No,May

In [11]:
#df['Date'].value_counts()
df.groupby(['Date']).size()

Date
2015-04-01    18
2015-04-02    27
2015-04-03    15
2015-04-04    12
2015-04-05     6
              ..
2015-06-26    55
2015-06-27    39
2015-06-28    27
2015-06-29    51
2015-06-30    53
Length: 91, dtype: int64

In [12]:
daily=df.groupby(['Date']).size().reset_index()

In [13]:
daily

         Date   0
0  2015-04-01  18
1  2015-04-02  27
2  2015-04-03  15
3  2015-04-04  12
4  2015-04-05   6
..        ...  ..
86 2015-06-26  55
87 2015-06-27  39
88 2015-06-28  27
89 2015-06-29  51
90 2015-06-30  53

[91 rows x 2 columns]

In [18]:
daily=daily.rename(columns={0:'Count'})

In [19]:
daily

         Date   Count
0  2015-04-01      18
1  2015-04-02      27
2  2015-04-03      15
3  2015-04-04      12
4  2015-04-05       6
..        ...     ...
86 2015-06-26      55
87 2015-06-27      39
88 2015-06-28      27
89 2015-06-29      51
90 2015-06-30      53

[91 rows x 2 columns]

In [24]:
#Trend chart for the number of complaints at daily granularity levels.
daily.plot('Date','Count',kind='line')

KeyError: 'Count'

In [ ]:
daily.sort_values('count',ascending=False)

In [ ]:
daily.sort_values('Date',ascending=False)

In [ ]:
df.groupby(['Month']).size()

In [ ]:
month=df.groupby(['Month']).size().reset_index().rename(columns={0:'Count'})

In [ ]:
month

In [ ]:
#Trend chart for the number of complaints at Monthly granularity levels.
month.plot('Month','Count',kind='bar')
month.plot('Month','Count',kind='pie')

In [ ]:
df['Customer Complaint'].value_counts()

In [ ]:
df['Customer Complaint']=[x.replace('caps','cap')  for x in df['Customer Complaint']]

In [ ]:
data=df['Customer Complaint'].value_counts().reset_index()[:10]

In [ ]:
data

In [ ]:
data.plot('index','Customer Complaint',kind='bar')

In [ ]:
df['Customer Complaint'].unique()

In [ ]:
#COMPLAINTS
internet1=df[df['Customer Complaint'].str.contains('internet')].count()

In [ ]:
internet2=df[df['Customer Complaint'].str.contains('speed')].count()

In [ ]:
internet3=df[df['Customer Complaint'].str.contains('data')].count()

In [ ]:
internet4=df[df['Customer Complaint'].str.contains('network')].count()

In [ ]:
total_internet_issues= internet1+internet2+internet3+internet4

In [ ]:
total_internet_issues['Ticket #']

In [ ]:
billing1=df[df['Customer Complaint'].str.contains('billing')].count()

In [ ]:
billing2=df[df['Customer Complaint'].str.contains('charge')].count()

In [ ]:
service1=df[df['Customer Complaint'].str.contains('service')].count()

In [ ]:
service2=df[df['Customer Complaint'].str.contains('customer')].count()

In [ ]:
total_billing_issues=billing1+billing2
total_billing_issues['Customer Complaint']

In [ ]:
total_service_issues=service1+service2
total_service_issues['Customer Complaint']

In [ ]:
other_issues= 2224-(total_billing_issues+total_internet_issues+total_service_issues)
other_issues['Customer Complaint']

In [ ]:
df['Status'].unique()

In [ ]:
#Creating a new categorical variable with value as Open and Closed,Open & Pending is to be categorized as Open and Closed & Solved is to be categorized as Closed.
df['New_Status']=['Open' if x=='Open' or x=='Pending' else 'Closed' for x in df['Status']]

In [ ]:
df

In [ ]:
#Which State has the maximum compaints
df.groupby(['State','New_Status']).size()

In [ ]:
State_Complain=df.groupby(['State','New_Status']).size().unstack()

In [ ]:
#Provide state wise status of complaints in a stacked bar chart
State_Complain.plot(kind='bar',stacked=True,figsize=(10,8))

In [ ]:
df.groupby('State').size().sort_values(ascending=False)[:10]

In [ ]:
unresolved_data= df.groupby(['State','New_Status']).size().unstack().fillna(0).sort_values(by='Open',ascending=False)

In [ ]:
#Which state has the highest percentage of unresolved complaints
unresolved_data

In [ ]:
#percentage of complaints unresolved complaints
unresolved_data['unresolved_cmp_prct']= unresolved_data['Open']/unresolved_data['Open'].sum()*100
unresolved_data

In [ ]:
unresolved_data.plot()

In [ ]:
resolved_data=df.groupby(['Received Via','New_Status']).size().unstack().fillna(0)
resolved_data

In [ ]:
resolved_data['resolve']=resolved_data['Closed']/resolved_data['Closed'].sum()*100

In [ ]:
#percentage of complaints resolved till date, which were received through the Internet and customer care calls.
resolved_data['resolve']

In [ ]:
resolved_data.plot(kind='barh')

In [ ]:
import numpy as np
x=np.array ([[ 0, 4, 2], [ 9, 3, 7]])

In [ ]:
x.ndim

In [ ]:
9/2

In [ ]:
5.2/2

In [ ]:
import pandas as pd

In [ ]:
pd.series(3,index=['a','b','c'])

In [ ]:
a=np.array([5,8,12,65])

In [ ]:
a

In [ ]:
a=np.array(5,8,12,65)
a

In [ ]:
np.zeros([3,3])

In [ ]:
np.linspace(5,15,10)

In [ ]:
A=np.array([1, 2, 3])

In [ ]:
np.hstack(A)

In [ ]:
a1=[1,3]
b1=a1
a1[0]=4
b1

In [ ]:
a=min(max(False,-3,-4), 2,7)

In [ ]:
a

In [ ]:
len(["hi",6, 9, 5])